{% extends 'base.html' %}
{% block content %}
<h1>página do index</h1>
    <button onclick="fazerRequisicao();">Fazer requisição</button>
    <hr />
    <div id="resposta"></div>

    <script>
        function fazerRequisicao(){
            var url = "http://127.0.0.1:8000/prod/prod/";//Sua URL

            var xhttp = new XMLHttpRequest();
            xhttp.open("GET", url, false);

            xhttp.send();//A execução do script pára aqui até a requisição retornar do servidor
            console.log(xhttp.responseText);
        }
    </script>

{% endblock content %}