<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Way Camisa Rosa</title>
    <link rel="stylesheet" type="text/css" href="/static/css/descricao.css" media="screen" />
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/jquery.offcanvas.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <div id="header" >
        <a href="{% url 'index' %}"><img src="/media/logo.png" id="img-logo" alt=""/></a>
        <form class="form-inline col-md-3 mb-3" id="barra-busca">
            <input class="form-control" id="barra-busca1" type="text" placeholder="Procurar produto" aria-label="Search">
            <img src="/media/lupa.png" id="img-lupa" alt="Buscar"/>
        </form>
        <img src="/media/user.png" id="img-perfil" alt=""/>
        <div style="justify-content: center">
            <button id="cadastre" data-toggle="modal" data-target="#loginModal">ENTRE OU CADASTRE-SE</button>
            <button id="button-favorito"><img src="/media/coracao.png"></button>
            <button id="button-sacola"><img src="/media/sacola.png"></button>
        </div>    
    </div>
    
    <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLongTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="form-group">
                        <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="E-mail">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" id="password" aria-describedby="emailHelp" placeholder="Senha">
                    </div>
                    <button class="btn btn-dark btn-block"id="texto">Entra</button>
                    <div class="text-center mt-1 mb-1">
                        <a href="" class="texto1">Esqueceu seu e-mail?</a> | <a href="" class="texto1">Esqueceu sua senha?</a>
                    </div>
                    <button class="btn btn-light btn-block" id="texto1">Quero me cadastrar</button>
                </div>
            </div>
        </div>
    </div>
    
    <nav class="navbar navbar-expand-md navbar-dark" id="navbar-id">
        <div class="collapse navbar-collapse" style="justify-content: space-around">
            <a href="{% url 'masculino' %}" class="button">Masculino</a>
            <a href="" class="button">Feminino</a>
            <a href="" class="button">Sales</a>
        </div>
    </nav>
   
    <div class="row">
        <div class="col-1"></div>
            <div class="col-10">
                 <div id="localizacao">
                    <label >Você está em: </label>
                    <a class="espaco" href="{% url 'index' %}">Início</a>
                    <label class="espaco">></label>
                    <label class="espaco"></label>
                    <a class="espaco" href="{% url 'masculino' %}">Masculino</a>
                    <label class="espaco">></label>
                    <label class="espaco">Blusa Rosa</label>
                </div>
            </div>
        <div class="col-1"></div>
    </div>
    
    

    <div class="row">
        <div class="col-4">
            <img src="/media/camisa.png" class="mx-auto d-block" alt=""/>
            <img src="/media/camisa.png" class="mx-auto d-block mt-3" alt=""/>
        </div>
        <div class="col-4">
            <div class="row">
                <img src="/media/camisa.png" class="mx-auto d-block" style="width: 100%;"/>
            </div>
        </div>
        <div class="col-4">
            <div id=descricao>
            <center><label class="tituloroupa">Blusa Rosa</label></center>
            <div class="row">
                <div class="col-3">
                </div> 
                <div class="col-7">
                    <label id="valor">R$00,00</label>
                    <label id="parcela">0x de R$ 00,00  sem juros no cartão</label>
                </div> 
                <div class="col-2">
                </div> 
            </div>     
            <center id="tamanho">Escolha o tamanho</center>

            <center>
                <div class="btn-group btn-group-toggle sem-borda" data-toggle="buttons">
                <label class="btn btn-ligth active border border-dark">
                    <input type="radio" name="options" id="option1" autocomplete="off" checked> P
                </label>
                <label class="btn btn-ligth active border border-dark ml-2">
                    <input type="radio" name="options" id="option2" autocomplete="off"> M
                </label>
                <label class="btn btn-ligth active border border-dark ml-2">
                    <input type="radio" name="options" id="option3" autocomplete="off"> G
                </label>
                <label class="btn btn-ligth active border border-dark ml-2">
                    <input type="radio" name="options" id="option4" autocomplete="off"> GG
                </label>
                </div>
            </center>

            <div class="row" id="comprar">
                <div class="col-2"></div> 
                <div class="col-8">
                    <div>
                        <a href="{% url 'compra' %}" class="btn btn-dark text-center text-break btn-block sem-borda" id="txtcomprar">COMPRAR</a>
                    </div>
                </div> 
                <div class="col-2"></div>
            </div>  
            <div class="row" id="adicionarfav">
                <div class="col-2"></div>
                <div class="col-8">
                    <div class="btn btn-light text-center text-break btn-block border border-dark sem-borda" style="cursor:  pointer;">
                        <img src="/media/Header39x31.png" class="mr-3" alt=""><span id="txtadd">Adicionar aos favoritos</span>
                    </div>
                </div>
                <div class="col-2"></div>
            </div>    
            </div>
        </div>
    </div>
    
    <div class="topico">
        <hr class="linha1"><label class="titulo">PRODUTO SIMILARES</label><hr class="linha2">
    </div>
    
     <section class="pb-5">
        <div class="container">
            <div class="row justify-content-center align-items-center">
                <div class="col-1">
                    <a class="btn" href="#carouselExampleIndicators2" role="button" data-slide="prev">
                        <i class="fa fa-chevron-left"></i>
                    </a>
                </div>
                <div class="col-10">
                    <div id="carouselExampleIndicators2" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="row">
                                    <div class="col-md-4 mb-3">
                                        <div class="card" style="border:none">
                                            <img class="img-fluid" alt="100%x280" src="/media/camiseta2.png">
                                            <div class="card-body">
                                                <label class="desc-camiseta">Camiseta Azul</label>
                                                <p class="card-text valor">R$50,00</p>
    
                                            </div>
    
                                        </div>
                                    </div>
                                    <div class="col-md-4 mb-3">
                                        <div class="card" style="border:none">
                                            <img class="img-fluid" alt="100%x280" src="/media/camiseta1.png">
                                            <div class="card-body">
                                                <label class="desc-camiseta">Camiseta Rosa</label>
                                                <p class="card-text valor">R$50,00</p>
    
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 mb-3">
                                        <div class="card" style="border:none">
                                            <img class="img-fluid" alt="100%x280" src="/media/camiseta3.png">
                                            <div class="card-body">
                                                <label class="desc-camiseta">Camiseta Amarelo</label>
                                                <p class="card-text valor">R$50,00</p>
    
                                            </div>
                                        </div>
                                    </div>
    
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="row">
    
                                    <div class="col-md-4 mb-3">
                                        <div class="card" style="border:none">
                                            <img class="img-fluid" alt="100%x280" src="/media/camiseta3.png">
                                            <div class="card-body">
                                                <label class="desc-camiseta">Camiseta Amarela</label>
                                                <p class="card-text valor">R$50,00</p>
    
                                            </div>
    
                                        </div>
                                    </div>
                                    <div class="col-md-4 mb-3">
                                        <div class="card" style="border:none">
                                            <img class="img-fluid" alt="100%x280" src="/media/camiseta2.png">
                                            <div class="card-body">
                                                <label class="desc-camiseta">Camiseta Azul</label>
                                                <p class="card-text valor">R$50,00</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 mb-3">
                                        <div class="card" style="border:none">
                                            <img class="img-fluid" alt="100%x280" src="/media/camiseta1.png">
                                            <div class="card-body">
                                                <label class="desc-camiseta"> Camiseta Rosa </label>
                                                <p class="card-text valor">R$50,00</p>
    
                                            </div>
                                        </div>
                                    </div>
    
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="row">
    
                                    <div class="col-md-4 mb-3">
                                        <div class="card" style="border:none">
                                            <img class="img-fluid" alt="100%x280" src="/media/camiseta1.png">
                                            <div class="card-body">
                                                <label class="desc-camiseta">Camiseta Rosa</label>
                                                <p class="card-text valor">R$50,00</p>
    
                                            </div>
    
                                        </div>
                                    </div>
                                    <div class="col-md-4 mb-3">
                                        <div class="card" style="border:none">
                                            <img class="img-fluid" alt="100%x280" src="/media/camiseta3.png">
                                            <div class="card-body">
                                                <label class="desc-camiseta">Camiseta Amarela</label>
                                                <p class="card-text valor">R$50,00</p>
    
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 mb-3">
                                        <div class="card" style="border:none">
                                            <img class="img-fluid" alt="100%x280" src="/media/camiseta2.png">
                                            <div class="card-body">
                                                <label class="desc-camiseta">Camiseta Azul</label>
                                                <p class="card-text valor">R$50,00.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-1">
                    <a class="btn" href="#carouselExampleIndicators2" role="button" data-slide="next">
                        <i class="fa fa-chevron-right"></i>
                    </a>
                </div>
            </div>
        </div>
    </section>
    
    {%include 'components/guest/rodape.html'%}
    
    <nav class="nav-container-favorito" id="favoritos" style="display: none;">
        <header>
            <a>LISTA DE FAVORITOS ESTÁ VAZIA</a>
        </header>
    </nav>

    <nav id="sacola" style="display: none;">
        <header>
            <a>COMPRA</a>
        </header>
        <a href="http://127.0.0.1:8000/pagamento">IR PARA PAGAMENTO</a>
    </nav>

    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/velocity.min.js"></script>
    <script src="/static/js/jquery.offcanvas.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    
    
    <script>  
        var myModal = document.getElementById('loginModal')
        var myInput = document.getElementById('email')

        myModal.addEventListener('shown.bs.modal', function () {
          myInput.focus()
        })

        var $sacola = $("#sacola");
        var $favorito = $("#favoritos");
        
        var $sacola = $("#sacola").offcanvas({
                origin: "right",
                duration: 400,
                covarage: 500,
                overlay: true,
                effect: 'slide-in-over',
            });

        $("#button-sacola").on("click", function() {
            $favorito.offcanvas("destroy");
            
            var $sacola = $("#sacola").offcanvas({
                origin: "right",
                duration: 400,
                covarage: 500,
                overlay: true,
                effect: 'slide-in-over',
            });

            $sacola.show();
            $favorito.hide();

            $sacola.offcanvas("toggle");
        });

        $("#button-favorito").on("click", function() {
            $sacola.offcanvas("destroy");

            var $favorito = $("#favoritos").offcanvas({
                origin: "right",
                duration: 400,
                covarage: 500,
                overlay: true,
                effect: 'slide-in-over',
            });

            $favorito.show();
            $sacola.hide();

            $favorito.offcanvas("toggle");
        });
    </script>
</body>
</html>