<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>WAY-Login</title>
    <link rel="stylesheet" type="text/css" href="/static/css/login.css" media="screen" />
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/jquery.offcanvas.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
 
<div class="row mt-4 ml-2">
    <div class="col-3">
        <a href="{% url 'index' %}"><img src="/media/logo.png" id="img-logo" alt=""/></a>
    </div>
    <div class="col-9">
        <div class="row">
            <div class="col-1"></div>
            <div class="col-5 pt-2">
            </div>
            <div class="col-6">
                <div class="row pt-2">
                    <div class="col-8"></div>
                    <div class="col-4">
                        <button id="button-favorito"><img src="/media/coracao.png"></button>
                        <button id="button-sacola"><img src="/media/sacola.png"></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-0"></div>
</div>

<div style='min-height:100%; height: 610px'>   
    <div class="row h-100">
        <div class="col-4"></div>
        <div class="col-4 h-100 d-flex justify-content-center align-items-center">
            <div>
                <input class="form sem-borda" type="text" placeholder="Usuário/E-mail">
                <input class="form sem-borda mt-2" type="text" placeholder="Senha">
                <button class="btn btn-dark btn-block sem-borda mt-3" id="entrar">Entra</button>
                <a href="" class="texto1">Esqueceu sua senha?</a>
                <button class="btn btn-light btn-block sem-borda mt-3" id="cadastro">Quero me cadastrar</button>
            </div>    
        </div>
        <div class="col-4"></div>
    </div>
</div> 

<div class="footer fixed-bottom">  
    <div class="row rodape">
        <div class="col-3"></div>
        <div class="col-3 mt-4 mb-3">
            <center><span class="titulo">INSTITUCIONAL</span></center>
            <div class="mt-4">
                <a class="informacao ml-5 mb-2" href="">Empresa</a><br>
                <a class="informacao ml-5 mb-2" href="">Privacidade e segurança</a><br>
                <a class="informacao ml-5 mb-2" href="">Política de troca e devolução</a>
            </div>
        </div>
        <div class="col-0"></div>
        <div class="col-3 mt-4 mb-4">
            <center><span class="titulo">ATENDIMENTO</span></center>
            <div class="ml-5 mb-2 mt-4">
                <img src="/media/mail.png" alt="">
                <span class="informacao"l>suporte@way.com.br</span><br>
            </div>
            <img src="/media/clock.png" class="ml-5 mb-2" alt="">
            <span class="informacao">Horário de funcionamento</span><br>
            <span class="informacao ml-5 mb-1">Segunda à Sexta-feita</span><br>
            <span class="informacao ml-5 mb-1">8:00 às 19:00</span>
        </div>
        <div class="col-3"></div>
    </div>
    <div class="row rodape">
        <div class="col-5"></div>
        <div class="col-2 ml-4 mb-3">
            <a href="https://www.instagram.com/"><img src="/media/Instagram Circle.png" alt=""></a> 
            <a href="https://www.facebook.com/"><img src="/media/Facebook Circled.png" alt=""></a>
        </div>
        <div class="col-5"></div>
    </div>
</div>

<script src="static/js/jquery.min.js"></script>
<script src="static/js/velocity.min.js"></script>
<script src="static/js/jquery.offcanvas.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<!-- <script>
    var $sacola = $("#sacola");
    var $favorito = $("#favoritos");
    
    var $sacola = $("#sacola").offcanvas({
            origin: "right",
            duration: 400,
            covarage: 500,
            overlay: true,
            effect: 'slide-in-over',
        });

    $("#button-sacola").on("click", function() {
        $favorito.offcanvas("destroy");
        
        var $sacola = $("#sacola").offcanvas({
            origin: "right",
            duration: 400,
            covarage: 500,
            overlay: true,
            effect: 'slide-in-over',
        });

        $sacola.show();
        $favorito.hide();

        $sacola.offcanvas("toggle");
    });

    $("#button-favorito").on("click", function() {
        $sacola.offcanvas("destroy");

        var $favorito = $("#favoritos").offcanvas({
            origin: "right",
            duration: 400,
            covarage: 500,
            overlay: true,
            effect: 'slide-in-over',
        });
        
        $favorito.show();
        $sacola.hide();

        $favorito.offcanvas("toggle");
    });
</script> -->
</body>
</html>