<div class="row mt-4 ml-2">
    <div class="col-3">
        <a href="{% url 'index' %}"><img src="/media/Logo.png" id="img-logo" alt=""/></a>
    </div>
    <div class="col-9">
        <div class="row">
            <div class="col-1"></div>
            <div class="col-5 pt-2">

            </div>
            {% if user.is_authenticated %}
                <div class="col-6">
                    <div class="row pt-2">
                        <div class="col-12 d-flex justify-content-end">
                            <a href="{% url 'logout' %}" class="cadastre mr-2" href=""><i class="fa fa-sign-out fa-2x" aria-hidden="true"></i></a>
                            <img src="/media/user.png" id="img-perfil" alt=""/>
                            <a class="cadastre ml-2" href="">{{ user }}</a>
                            <a href="{% url 'my_orders' %}" class="ml-2" id="button-sacola"><img src="/media/pedido.png"></a>
                            <a href="{% url 'sacola:detail' %}" class="mr-2" id="button-sacola"><img src="/media/sacola.png"></a>
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="col-6">
                    <div class="row pt-2">
                        <div class="col-12 d-flex justify-content-end">
                            <img src="/media/user.png" id="img-perfil" alt=""/>
                            <a class="cadastre ml-2" href="{% url 'login' %}">ENTRE OU CADASTRE-SE</a>
                            {% if user.is_authenticated %}
                            <a href="{% url 'sacola:detail' %}" class="mr-2" id="button-sacola"><img src="/media/sacola.png"></a>
                            {% else %}
                            <a href="{% url 'login' %}" class="mr-2" id="button-sacola"><img src="/media/sacola.png"></a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</div>