<div class="row rodape">
    <div class="col-3"></div>
    <div class="col-3 mt-4 mb-3">
        <center><span class="titulo">INSTITUCIONAL</span></center>
        <div class="mt-4">
            <a class="informacao ml-5 mb-2" href="">Empresa</a><br>
            <a class="informacao ml-5 mb-2" href="">Privacidade e segurança</a><br>
            <a class="informacao ml-5 mb-2" href="">Política de troca e devolução</a>
        </div>
    </div>
    <div class="col-3 mt-4 mb-4">
        <center><span class="titulo">ATENDIMENTO</span></center>
        <div class="ml-5 mb-2 mt-4">
            <img src="/static/media/mail.png" alt="">
            <span class="informacao"l>suporte@way.com.br</span><br>
        </div>
        <img src="/static/media/clock.png" class="ml-5 mb-2" alt="">
        <span class="informacao">Horário de funcionamento</span><br>
        <span class="informacao ml-5 mb-1">Segunda à Sexta-feita</span><br>
        <span class="informacao ml-5 mb-1">8:00 às 19:00</span>
    </div>
    <div class="col-3"></div>
</div>
<div class="row rodape">
    <div class="col-5"></div>
    <div class="col-2 ml-4 mb-3">
        <a href="https://www.instagram.com/"><img src="/static/media/Instagram Circle.png" alt=""></a> 
        <a href="https://www.facebook.com/"><img src="/static/media/Facebook Circled.png" alt=""></a>
    </div>
    <div class="col-5"></div>
</div>
    