{% load static %}

<div class="rodape">
    <div id="rodape-info">
        <div class="rodape1">
            <label class="rodape-titulo-coluna">INSTITUCIONAL</label>
            <a class="rodape3" href="">Empresa</a>
            <a class="rodape3" href="">Privacidade e segurança</a>
            <a class="rodape3" href="">Política de troca e devolução</a>
        </div>
        <div class="rodape1">
            <label class="rodape-titulo-coluna">ATENDIMENTO</label>
            <div>
                <img src="media/mail.png" alt="">
                <label class="rodape4"l>suporte@way.com.br</label>
            </div>
            <div>
                <img src="media/clock.png" alt="">
                <label class="rodape4">Horário de funcionamento</label>
            </div>
            <label>Segunda à Sexta-feita</label>
            <label>8:00 às 19:00</label>
        </div>
    </div>
    <div id="rodape-social">
        <a href="https://www.instagram.com/"><img src="media/Instagram Circle.png" alt=""></a> 
        <a href="https://www.facebook.com/"><img src="media/Facebook Circled.png" alt=""></a>
    </div>
</div>
    