#header{
    width: 100%;
    display: flex; 
    flex-direction: row;
}

#img-logo{
    margin: 40px 25px 10px;
    justify-content: flex-start;
}
#img-lupa{
    width:24px;
    height:24px;
}
#barra-busca{
    margin: 0 auto; 
    background-color: #C6D5F4; 
    border-radius: 5px; 
    height: 33px; 
    top: 40px;
}

#barra-busca1{
    background-color: #C6D5F4;
    height: 100%;
    border-radius: 5px;
    border: 0;
    width: calc(100% - 24px);
}

#navbar-id{
    margin:10px 0;
    border-top: 1px solid black;
    border-bottom:1px solid black; 
}
#cadastre{
    background: white;
    border: 0;
    font-size: 13px;
    font-family: Roboto;
    font-weight: bold;
}
#img-perfil{
    width:24px;
    height:24px;
    margin: 40px 10px;
    
}
#button-favorito{
    background: white;
    border: 0;
    margin: 40px 5px;
    
}
#button-sacola{
    background: white;
    border: 0;
    margin: 40px 25px 40px 5px;
}
#texto{
    color: white;
    font-size: 19px;
    font-family: Roboto;
    font-weight: bold;
}
#email{
    font-size: 17px;
    border-color: #4B4B4B;
}
#password{
    font-size: 17px;
    border-color: #4B4B4B;
}
.texto1{
    color: black;
    font-size: 13px;
    font-family: Roboto;
    font-weight: bold;
}
.texto1:hover{
    color: #4B4B4B;
}
#texto1{
    color: black;
    font-size: 19px;
    font-family: Roboto;
    font-weight: bold;
    background: #EAEAEA;
}
.button{
    background: white;
    border: 0;
    font-size: 20px;
    font-family: Roboto;
    font-weight: bold;
    color: black;
}
.button:hover{
    color: #4B4B4B;
}
.button:visited{
    color: black;
}
#informacao{
    background: #F6F6F6;
    height:60px;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}
.text-informacao{
    margin: 20px ;
    font-size: 14px;
    font-family: Roboto;
    font-weight: bold;
}
.topico{
    display: flex;
    align-items: center;
    padding: 50px 0px;
}
.linha1{
    flex: 1px;
    background: black;
    margin-left:auto;
    height: 1px;
    border: none;
    margin-right: 10px;
}
.linha2{
    flex: 1px;
    background: black;
    margin-left:auto;
    height: 1px;
    border: none;
    margin-left: 10px;
}
.titulo{
    text-align: center;
    font-size: 20px;
    font-family: Roboto;
    font-weight: bold;
}
.roupas{
    display: flex;
    justify-content: center;
}
.camiseta{
    border: 0;
    background: white;
    padding-left: 67px;
    padding-right: 67px;
}
.camiseta1{
    border: 0;
    background: #F6F6F6;
    padding-left: 67px;
    padding-right: 67px;
    
}
.div-roupa{
    display: flex;
    flex-direction: column;
    align-items:center;
}
.desc-camiseta{
    font-size: 20px;
    font-family: Roboto;
    font-weight: bold;        
}
.valor{
    font-size: 24px;
    font-family: Roboto;
    font-weight: bold;
}
#retorno{
    background: #F6F6F6;
}
#retorno1{
    background: #F6F6F6;
}
.rodape{
    background: #F6F6F6;
}
#rodape-info{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.rodape1{
    font-size: 20px;
    padding-top: 42px;
    padding-bottom: 60px;
    display: flex;
    flex-direction: column;
    font-family: Roboto;
    font-weight: bold;
    margin: 0 30px
}
.rodape-titulo-coluna{
    padding-bottom: 30px;
}
.rodape2{
    font-size: 14px;
    color: black;
}
.rodape3{
    color:black;
}
.rodape4{
    padding-left: 8px;
}
#rodape-social{
    display:flex;
    justify-content: center;
    padding: 10px;
}
#ver{
    color: black;
    font-weight: bold;
}

.card-roupa{
    border: none;
}

#divVer{
    display: flex;
    justify-content: flex-end;
    padding-right: 20px
}


*, *::after, *::before {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  line-height: 1;
  margin: 0;
  width: 100%;
  height: 100%;
  background: #1C1D21;
}


.intro {
  height: 100vh;
  width: 100%;
  display: table;
  background: #26292f url('../img/bg.jpg') no-repeat center center;
  background-size: cover;
}

#favorito {
  vertical-align: middle;
  text-align: center;
  font-size: 22px;
  color: black;
  background-color: #8DABE9;
  font-weight: bold;

}

.nav-trigger {
  position: fixed;
  z-index: 4;
  top: 40px;
  right: 40px;
  height: 44px;
  width: 44px;
  overflow: hidden;
  color: transparent;
  white-space: nowrap;
  text-indent: 100%;
}

.overlay {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #1C1D21;
  opacity: 0;
  visibility: hidden;
  transition: opacity .5s, visibility .5s;
}

.nav-open .overlay {
  opacity: .6;
  visibility: visible;
}

.nav-container-favorito {
  height: 100%;
  width: 100%;
  padding: 2em 3.5em;
  background: white;
}


.nav-open .nav-container-favorito {
  transform: translateX(0);

}
.nav-container h2 {
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
  color: #AAAAAA;
  margin: 1.5em 0;
}

.nav {
  list-style: none;
  padding: 0;
}

.nav a {
  display: block;
  padding: .4em 0;
  font-size: 40px;
  font-weight: bold;
  font-family: serif;
  text-decoration: none;
  color: #1F2B3D;
  transform: translateZ(0);
}

.nav-open .nav a {
  animation: slide-in .4s .2s backwards;
}

.nav-open .nav li:nth-of-type(2) a {
  animation-delay: .3s;
}

.nav-open .nav li:nth-of-type(3) a {
  animation-delay: .4s;
}

.nav-open .nav li:nth-of-type(4) a {
  animation-delay: .5s;
}

.nav-open .nav li:nth-of-type(5) a {
  animation-delay: .6s;
}

@keyframes slide-in {
  0% {
    opacity: 0;
    transform: translateX(80px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.overlay{
    width: calc(100% - 460px)
}