<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Way Pagamento</title>
    <link rel="stylesheet" type="text/css" href="/static/css/pagamento.css" media="screen" />
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/jquery.offcanvas.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    {%include 'components/guest/header.html'%}

    <div class="row mt-4 border-bottom border-top border-dark mb-2">
        <div class="col-1"></div>
        <div class="col-10">
            <div class="row mt-2 mb-2">
                <div class="col-2"></div>
                <div class="col-4">
                    <a href="{% url 'masculino' %}" class="button">Masculino</a>
                </div>
                <div class="col-2"></div>
                <div class="col-4">
                    <a href="" class="button">Feminino</a>
                </div>
            </div>
        </div>
        <div class="col-1"></div>
    </div>
    
    <form action="." method="POST" id="compra">
        {% csrf_token %}
    <div class="row pt-5">
        <div class="col-1"></div>
        <div class="col-10 border border-dark">
            <span class="dados">Dados para a entrega</span>
            <div class="row pt-3">
                <div class="col-8">
                    <input class="form" name="name" id="id_name" maxlength="250" type="text" placeholder="Nome Completo" value="{{ form.name.value|default_if_none:'' }}" required>
                </div>
                <div class="col-4">
                    <input class="form" name="email" id="id_email" type="text" placeholder="Email" value="{{ form.email.value|default_if_none:'' }}" required> 
                </div>
            </div>
            <div class="row pt-3">
                <div class="col-5">
                    <input class="form" name="cpf" id="id_cpf" maxlength="14" id="cpf" type="text" placeholder="CPF" value="{{ form.cpf.value|default_if_none:'' }}" required>
                    {{ form.errors.cpf }}
                </div>
                <div class="col-5">
                    <input class="form" name="postal_code" id="id_postal_code" maxlength="9" onchange="getAddress()" type="text" placeholder="CEP" required>
                    {{ form.errors.postal_code }}
                </div>
                <div class="col-2">
                    <input class="form" name="number" id="id_number" maxlength="250" type="text" placeholder="Número" value="{{ form.number.value|default_if_none:'' }}" required>
                    {{ form.errors.number }}
                </div>
            </div>
            <div class="row pt-3">
                <div class="col-3">
                    <select name="state" class="form" id="id_state" required>
                        <option value="" selected="" hidden>Estado</option> 
                        <option value="AC">Acre</option> <option value="AL">Alagoas</option> 
                        <option value="AP">Amapá</option> <option value="AM">Amazonas</option> 
                        <option value="BA">Bahia</option> <option value="CE">Ceará</option> 
                        <option value="DF">Distrito Federal</option> <option value="ES">Espírito Santo</option> 
                        <option value="GO">Goiás</option> <option value="MA">Maranhão</option> 
                        <option value="MT">Mato Grosso</option> 
                        <option value="MS">Mato Grosso do Sul</option> 
                        <option value="MG">Minas Gerais</option> 
                        <option value="PA">Pará</option> 
                        <option value="PB">Paraíba</option> 
                        <option value="PR">Paraná</option> 
                        <option value="PE">Pernambuco</option> 
                        <option value="PI">Piauí</option> 
                        <option value="RJ">Rio de Janeiro</option> 
                        <option value="RN">Rio Grande do Norte</option> 
                        <option value="RS">Rio Grande do Sul</option> 
                        <option value="RO">Rondônia</option> 
                        <option value="RR">Roraima</option>
                        <option value="SC">Santa Catarina</option>
                        <option value="SP">São Paulo</option>
                        <option value="SE">Sergipe</option>
                        <option value="TO">Tocantins</option>
                    </select>
                        {{ form.errors.state }}
                </div>
                <div class="col-4">
                    <input class="form" name="city" maxlength="250" id="id_city" type="text" placeholder="Cidade" value="{{ form.city.value|default_if_none:'' }}" required>
                    {{ form.errors.city }}
                </div>
                <div class="col-5">
                    <input class="form" name="district" id="id_district" maxlength="250" type="text" placeholder="Bairro" value="{{ form.district.value|default_if_none:'' }}" required>
                    {{ form.errors.district }}
                </div>
            </div>
            
            <div class="row mt-3 mb-4">
                <div class="col-6">
                    <input class="form" name="address" maxlength="250" id="id_address" type="text" placeholder="Logradouro" value="{{ form.address.value|default_if_none:'' }}" required>
                    {{ form.errors.address }}
                </div>
                <div class="col-6">
                    <input class="form" name="complement" id="id_complement" maxlength="250" type="text" placeholder="Complemento" value="{{ form.complement.value|default_if_none:'' }}">
                    {{ form.errors.complement }}
                </div>
            </div>
            <div class="row mt-3 mb-4" style="display: none;">
                <div class="col-6">
                    <input class="form" name="user" id="user_id" value="{{ user.id }}">
                    {{ form.errors.user }}
                </div>
            </div>
            
        </div>
        <div class="col-1"></div>
    </div>

   <div class="row mt-5">
        <div class="col-1"></div>
        <div class="col-10 border border-dark">
            <span class="dados">Métodos de pagamento</span>
            <div class="row">
                <div class="col-3 ml-4 pt-3">
                    <span class="forms">Nome(como está no seu cartão)</span>
                </div>
                <div class="col-4 pt-3">
                    <input id="cardholderName" data-checkout="cardholderName" type="text" class="form" required>
                </div>
                <div class="col-1 ml-4 pt-3">
                    <span class="forms">CPF</span>
                </div>
                <div class="col-3 pt-3">
                    <input id="docNumber" name="doc_number" data-checkout="docNumber" type="text"class="form" required>
                </div>
            </div>
            <div class="row">
                <div class="col-3 ml-4 pt-3">
                    <span class="forms">Número do cartão</span>
                </div>
                <div class="col-4 pt-3">
                    <input class="form" type="text" id="cardNumber" data-checkout="cardNumber" onselectstart="return false"
                    oncopy="return false" oncut="return false" ondrag="return false" ondrop="return false"
                    autocomplete=off required>
                </div>
                <div class="col-4 ml-4 pt-3">
                    <div class="form-group">
                        <label for="cardExpirationMonth" id="vencimento" class="mr-4">Vencimento:</label>
                        <select type="text" placeholder="MM" name="cardExpirationMonth" id="cardExpirationMonth"
                        data-checkout="cardExpirationMonth" onselectstart="return false"
                        onpaste="return false" oncopy="return false" oncut="return false"
                        ondrag="return false" ondrop="return false" autocomplete=off
                        class="vencimento ml-2" maxlength="2" required>
                            <option hidden>Mês</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                        </select>
                        <select type="text" placeholder="YY" id="cardExpirationYear"
                        data-checkout="cardExpirationYear" onselectstart="return false"
                        onpaste="return false" oncopy="return false" oncut="return false"
                        ondrag="return false" ondrop="return false" autocomplete=off
                        class="vencimento" maxlength="2" required>
                            <option hidden>Ano</option>
                            <option value="21">21</option>
                            <option value="22">22</option>
                            <option value="23">23</option>
                            <option value="24">24</option>
                            <option value="25">25</option>
                            <option>26</option>
                            <option>27</option>
                            <option>28</option>
                            <option>29</option>
                            <option>30</option>
                            <option>31</option>
                        </select>
                    </div>
                </div>
                <div class="col-1"></div>
            </div>
            <div class="row">
                <div class="col-3 ml-4 ">
                    <span class="forms">Parcelas</span>
                </div>
                <div class="col-4">
                    <select id="installments" name="installments" class="parcela" required></select>
                </div>
                <div class="col-1 ml-4">
                    <span class="forms" >CVV</span>
                </div>
                <div class="col-2 ml-2 mb-4">
                    <input class="form" id="securityCode" data-checkout="securityCode" type="text" 
                        onselectstart="return false" onpaste="return false" oncopy="return false" maxlength="4"
                        oncut="return false" ondrag="return false" ondrop="return false" autocomplete=off type="text" required>
                </div>
                <div class=col-1></div>
            </div>
        </div>
    </div>
    <input type="hidden" id="docType" name="docType" data-checkout="docType" type="text"
                        class="form-control" value="CPF" />
    <input type="hidden" name="payment_method_id" id="paymentMethodId"/>
    <input type="hidden" name="transaction_amount" id="transactionAmount"
                        value="{{ cart.get_total_price|stringformat:'.2f' }}"/> 
    <input type="hidden" id="issuer" name="issuer" data-checkout="issuer" class="form-control" />
</form>  
    <div class="row mt-5">
        <div class="col-1"></div>
        <div class="col-10 border border-dark">
            <span class="forms">Resumo</span>
        </div>
        <div class="col-1"></div>
    </div>
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10 border-bottom border-right border-left border-dark">
            {% for item in cart %}
            {% with product=item.product %}
            <div class="row">
                <div class="col-2 mt-3">
                    <a href="{{ product.get_absolute_url }}">
                        <img src="/media/{{product.image}}" width="168px" heigth="168px" class="" alt=""/>
                    </a>
                </div>
                <div class="col-3 mt-5">
                    <span class="descricao">{{ product.name }}</span><br>
                    {% if item.size == 1 %}
                    <span class="descricao">Tamanho: P </span><br>
                    {% elif item.size == 2 %}
                    <span class="descricao">Tamanho: M </span><br>
                    {% elif item.size == 3 %}
                    <span class="descricao">Tamanho: G </span><br>
                    {% elif item.size == 4 %}
                    <span class="descricao">Tamanho: GG </span><br>
                    {% endif %}
                    <span class="descricao">Quantidade: {{ item.quantity }}</span><br>
                </div>
                <div class="col-2 mt-5">
                    <span id="preco">R$ {{ item.total_price }}</span>
                </div>
            </div>
            <hr class="linha">
            {% endwith %}
            {% endfor %}
            <div class="row pb-2">
                <div class="col-10">
                    <span class="descricao">Subtotal</span><br>
                    <span class="descricao">Entrega</span><br>
                </div>
                <div class="col-2 pr-2">
                    <center><span class="descricao">R$ {{ cart.get_sub_total }}</span></center>
                    <center><span class="descricao">R$ {{ cart.get_freigth }}</span></center>
                </div> 
            </div>
            <div class="row border-top border-dark pb-2 pt-1" id="quadro">
                    <div class="col-10 pt-2">
                        <span id="total">TOTAL</span>
                    </div>
                    <div class="col-2 ">
                        <center><span class="descricao">R$ {{ cart.get_total_price }}</span></center>
                    </div>    
                </div>
        </div>
        <div class="col-1"></div>
    </div>
    <div class="row mt-5">
        <div class="col-1"></div>
        <div class="col-10">
            <div class="row mt-3 pb-5">
                <div class="col-1">
                    <a href="{% url 'sacola:detail' %}" id="voltar">VOLTAR</a>
                </div>
                <div class="col-8"></div>
                <div class="col-3">
                    <button type="button" class="btn btn-dark btn-block sem-borda" id="finalizar" onclick="$('#compra').submit()">
                        Finalizar Compra
                    </button>
                </div>

            </div>
        </div>
        <div class="col-1"></div>
    </div>
    
    {%include 'components/guest/rodape.html'%}

    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/velocity.min.js"></script>
    <script src="/static/js/jquery.offcanvas.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/imask@6.0.7/dist/imask.js"></script>
    <script src="/static/js/order-forms.js"></script>
    <script src="https://secure.mlstatic.com/sdk/javascript/v1/mercadopago.js"></script>
    <script>
        window.Mercadopago.setPublishableKey("{{ publishable_key }}");
    </script>
    <script src="/static/js/process-payment.js"></script>
</body>
</html>